/*--------------------------------------------------------------
# Reset and Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: #000; }

a:focus, a:hover, a:active {
  outline: none; }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.page-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: .4px; }

.section-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  padding: 0;
  margin: 0; }

/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #3d9cd2;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  min-width: 200px;
  transition: 350ms ease;
  position: relative; }
  .btn:hover {
    color: #000;
    transition: 350ms ease; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
