// Media query:
@mixin mq ($breakpoint) {

    @if $breakpoint==sm {
        @media screen and (min-width: 576px) {
            @content
        };
    }

    @if $breakpoint==md {
        @media screen and (min-width: 767px) {
            @content
        };
    }

    @if $breakpoint==lg {
        @media screen and (min-width: 991px) {
            @content
        };
    }

    @if $breakpoint==xl {
        @media screen and (min-width: 1200px) {
            @content
        };
    }

    @else {
        @media screen and (max-width: $breakpoint) {
            @content
        };
    }
}